<!-- HERENCIA DE BASE -->
{% extends "base.html" %}

<!-- CARGA LOS ESTATICOS -->
{% load static %}

<!-- TITULO DINAMICO -->
{% block titulo %} Inicio {% endblock titulo %}



<!-- CONTENIDO PRINCIPAL -->
{% block contenido_principal %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-9">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header"><i class="fa-solid fa-toolbox"></i> Tool Box</div>
        <div class="card-body">
          <h4 class="card-title">Heramientas personales</h4>
          <p class="card-text">Aqui podes encontrar un varias <strong>heramientas</strong> que te seran util para uso personal <i
              class="fa-solid fa-person-circle-check"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido_principal %}