{% extends 'base.html' %}

{% block titulo %}{{titulo}}{% endblock%}

{% block contenido_principal %}
<div class="d-flex flex-row justify-content-center alig-items-center mt-5">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><i class="fa-solid fa-trash-can"></i> Confirmación</div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <p>Esta seguro que quiere eliminar "{{ object.get_full_name }}"?</p>
                <input type="submit" value="Confirmar" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{% endblock contenido_principal %}