<!-- HERENCIA DE BASE -->
{% extends "base.html" %}

<!-- CARGA LOS ESTATICOS -->
{% load static %}
{% load crispy_forms_tags %}

<!-- TITULO DINAMICO -->
{% block titulo %} {{ title_page }} {% endblock titulo %}

<!-- ARCHIVOS ESTATICOS EXTRA -->
{% block extra_css %}{% endblock extra_css %}


<!-- CONTENIDO PRINCIPAL -->
{% block contenido_principal %}
<div class="row justify-content-center">
  <h2 class="fw-bold mt-3 text-center">{{ title_page }}</h2>
  <div class="col-md-8">
    <form action="" method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" value="Guardar" class="btn btn-success m-4">
      {% if return_edit %}
      <a href="{% url 'personal_planner_detail' event.slug %}" class="btn btn-primary m-4">Volver</a>
      {% else %}
      <a href="{% url 'personal_planner' %}" class="btn btn-primary m-4">Volver</a>
      {% endif %}
    </form>
  </div>
</div>



{% endblock contenido_principal %}

<!-- ARCHIVOS JS EXTRA -->
{% block extra_js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extra_js %}